---
const today = new Date();
---

<footer
	class="px-4 pt-8 pb-12 text-center text-muted text-sm [background:linear-gradient(rgb(229_233_240/0.5),#fff)_no-repeat] bg-[length:100%_600px]"
>
	<p>&copy; {today.getFullYear()} ouki</p>
</footer>
